.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 10px;
}

.leftLabel {
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

label {
    float: left;
}

.name {
    display: inline-block;
    width: 300px;
    margin-left: 60px;
}

.desc {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
}

.modal-title {
    text-align: center;
    font-size: large;
}

.modal-header {
    padding: 0;
}

.left {
    width: 15%;
    height: inherit;
}

.right {
    width: 85%;
    background-color: rgb(240, 223, 190);
    /* border: 1px solid gray; */
    height: inherit;
}

.container-fluid1 {
    height: 600px;
}

.row-fluid, .sidebar-nav {
    height: inherit;
}

hr {
    border: 1px solid;
}

.well {
    border-radius: 0;
    border-right: 1px solid white;
    background-color: #F1D6D6;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
}