<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test</title>
    <base href="/">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body ng-app="test_module">
<div class="container" ng-controller="TestCtrl">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <p color="color">有颜色的文本</p>
                <a ng-click="color_click()" class="btn-link">change color</a>
            </li>
            <li class="list-group-item">
                <div more>123</div>
            </li>
            <li class="list-group-item">
                <div show1>aaaaaaaaaaaaaaaaaaaaaaa</div>
            </li>
            <li class="list-group-item">
                <div ab>contoller Test</div>
            </li>
            <li class="list-group-item">
                <c>
                    <d ob="{{ob}}"></d>
                </c>
                <test1 a="" b="" c="">test1 directive</test1>
            </li>
            <li class="list-group-item">
                <input type="text" ng-model="b" test/>
                <button ng-click="show(b)">查看</button>
            </li>
            <li class="list-group-item">
                <ys-block title="title" text="text"></ys-block>
                <p>标题: <input ng-model="title"/></p>

                <p>内容: <input ng-model="text"/></p></li>
            <li class="list-group-item">
                <div ng-init="obj_list=[1,2,3,4]; name='name'">
                    <ul>
                        <for o in obj_list>
                            <li class="list-group-item">{{ o }}, {{ name }}</li>
                        </for>
                    </ul>
                    <button ng-click="obj_list=[1,2]; name='o?'">修改</button>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <if true="a == 1">
                        <p>判断为真, {{ name }}</p>
                        <else>
                            <p>判断为假, {{ name }}</p>
                        </else>
                    </if>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <p>a: <input ng-model="a"/></p>

                    <p>name: <input ng-model="name"/></p>
                </div>
            </li>
            <li class="list-group-item">
                <a ta>click to show para</a>

                <div style="clear:both"></div>
                <span>{{para}}</span>
            </li>
            <li class="list-group-item">
                <span ta1>{{jqueryPara}}</span>
            </li>
            <li class="list-group-item">
                <input ng-model="expr" tp
                       type="text"
                       placeholder="Enter an expression"/>

                <div style="clear:both"></div>
                <span>{{testVal}}</span>
            </li>
            <li class="list-group-item">
                <input ng-model="to" ti
                       type="email"
                       placeholder="Recipient"/>

                <div class="clearfix" style="margin-top: 10px"></div>

                <textarea ng-model="emailBody" style="width: 200px;height: 100px"></textarea>

                <pre>{{ previewText }}</pre>
            </li>
            <li>
                <form name="signup_form" novalidate class="form-horizontal" ng-submit="signupForm()">
                    <div class="form-group">
                        <div class="col-md-2">
                            用户名
                        </div>
                        <div class="col-md-10">
                            <input type="text" placeholder="Name" class="form-control" name="name"
                                   ng-model="signup.name" ng-minlength=
                                    3 ng-maxlength=20 required ng-pattern="/^a-zA-Z$/"/>

                            <div class="error" ng-messages="signup_form.name.$error" multiple>
                                <div class="help-block" ng-message="required">Make sure you enter your name</div>
                                <div class="help-block" ng-message="minlength">Your name must be at least 3 characters
                                </div>
                                <div class="help-block" ng-message="pattern">Your name must be a-Z characters</div>
                                <div class="help-block" ng-message="maxlength">Your name cannot be longer than 20
                                    characters
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </li>
            <li>
                <my-dialog ng-hide="dialogIsHidden">
                    Check out the contents, {{name1}}!
                </my-dialog>
                <button type="button" ng-click="hideDialog()">change dialog</button>
            </li>
            <li>
                <div class="help-block" priv-scope my-url="http://google.com"
                     my-link-text="Click me to go to Google">
                </div>

            </li>
            <li>

                <label>Their URL field:</label>
                <input type="text" ng-model="theirUrl">

                <div class="help-block" priv-scope1 my-url="theirUrl"
                     my-link-text="click to google.">
                </div>
            </li>
            <li>
                Type here to make sibling readonly:
                <input type="text" ng-model="someProperty"><br/>
                <input type="text"
                       ng-readonly="someProperty"
                       value="Some text here"/>
            </li>
            <li>
                {{ someBareValue }}
                <button ng-click="someAction()">Communicate to child</button>
                <div ng-controller="ChildController">
                    {{ someBareValue }}
                    <button ng-click="childAction()">Communicate to parent</button>
                </div>
            </li>
        </ul>
    </div>
</div>


<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../test/test_controller.js"></script>
<script src="../test/test_directive.js"></script>
</body>
</html>