<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <base href="/">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/login.css">
</head>
<body ng-app="dvLoginApp" ng-controller="dvLoginController">
<div class="container">

</div>
</body>
</html>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="scripts/login/config.js"></script>
<script src="scripts/login/service.js"></script>
<script src="scripts/login/controller.js"></script>
<script src="scripts/login/directive.js"></script>